# TEST
version: 2

references:
    build-base: &build-base
      docker:
        - image: circleci/rust:1.36-stretch
      steps:
        - checkout
        - restore_cache:
            keys:
              - stack-cache-v1-{{ arch }}-{{ .Branch }}
              - stack-cache-v1-{{ arch }}-master
        - run:
            command: |
              mkdir -p $HOME/.local/bin
              curl -L https://github.com/commercialhaskell/stack/releases/download/v2.1.1/stack-2.1.1-linux-x86_64.tar.gz | tar xz --wildcards --strip-components=1 -C "$HOME/.local/bin" '*/stack'
              echo 'export PATH=$HOME/.local/bin:$PATH' >> $BASH_ENV

        - run: ./check.sh

        - save_cache:
              key: stack-cache-v1-{{ arch }}-{{ .Branch }}-{{ epoch }}
              paths:
                  - ~/.stack
                  - .stack-work
jobs:
  build:
    <<: *build-base

workflows:
  version: 2
  build-and-test:
      jobs:
        - build

