version: 2

jobs:
  build-11.22:
    docker:
    - image: circleci/rust:1.36-stretch
    steps:
    - checkout
    - restore_cache:
        keys:
            - stack-cache-v3-11.22-{{ arch }}-{{ .Branch }}
            - stack-cache-v3-11.22-{{ arch }}-master
    - run: .circleci/install-stack.sh
    - run: stack test --no-terminal --resolver=lts-11.22 ghc-source-gen
    - save_cache:
            key: stack-cache-v3-11.22-{{ arch }}-{{ .Branch }}-{{ epoch }}
            paths:
                - ~/.stack

  build-12.8:
    docker:
    - image: circleci/rust:1.36-stretch
    steps:
    - checkout
    - restore_cache:
        keys:
            - stack-cache-v3-12.8-{{ arch }}-{{ .Branch }}
            - stack-cache-v3-12.8-{{ arch }}-master
    - run: .circleci/install-stack.sh
    - run: stack test --no-terminal --resolver=lts-12.8 ghc-source-gen
    - save_cache:
            key: stack-cache-v3-12.8-{{ arch }}-{{ .Branch }}-{{ epoch }}
            paths:
                - ~/.stack

  build-13.23:
    docker:
    - image: circleci/rust:1.36-stretch
    steps:
    - checkout
    - restore_cache:
        keys:
            - stack-cache-v3-13.23-{{ arch }}-{{ .Branch }}
            - stack-cache-v3-13.23-{{ arch }}-master
    - run: .circleci/install-stack.sh
    - run: stack test --no-terminal --resolver=lts-13.23 ghc-source-gen
    - save_cache:
            key: stack-cache-v3-13.23-{{ arch }}-{{ .Branch }}-{{ epoch }}
            paths:
                - ~/.stack

  build-ghc-8.8:
    docker:
    - image: circleci/rust:1.36-stretch
    steps:
    - checkout
    - restore_cache:
        keys:
            - stack-cache-v3-ghc-8.8-{{ arch }}-{{ .Branch }}
            - stack-cache-v3-ghc-8.8-{{ arch }}-master
    - run: .circleci/install-stack.sh
    - run: stack test --no-terminal --stack-yaml=stack-8.8.yaml ghc-source-gen
    - save_cache:
            key: stack-cache-v3-ghc-8.8-{{ arch }}-{{ .Branch }}-{{ epoch }}
            paths:
                - ~/.stack

  build-success:
    docker:
    - image: circleci/rust:1.36-stretch
    steps:
    - run: echo "Success!"

workflows:
  version: 2
  build-and-test:
      jobs:
        - build-11.22
        - build-12.8
        - build-13.23
        - build-ghc-8.8
        - build-success:
            requires:
            - build-11.22
            - build-12.8
            - build-13.23
            - build-ghc-8.8
