version: 2

jobs:
  build-12.8:
    docker:
    - image: circleci/rust:1.36-stretch
    steps:
    - checkout
    - restore_cache:
        keys:
            - stack-cache-v2-12.8-{{ arch }}-{{ .Branch }}
            - stack-cache-v2-12.8-{{ arch }}-master
    - run: .circleci/install-stack.sh
    - run: stack test --no-terminal --resolver=lts-12.8
    - save_cache:
            key: stack-cache-v2-12.8-{{ arch }}-{{ .Branch }}-{{ epoch }}
            paths:
                - ~/.stack
                - .stack-work
  build-13.23:
    docker:
    - image: circleci/rust:1.36-stretch
    steps:
    - checkout
    - restore_cache:
        keys:
            - stack-cache-v2-13.23-{{ arch }}-{{ .Branch }}
            - stack-cache-v2-13.23-{{ arch }}-master
    - run: .circleci/install-stack.sh
    - run: stack test --no-terminal --resolver=lts-13.23
    - save_cache:
            key: stack-cache-v2-13.23-{{ arch }}-{{ .Branch }}-{{ epoch }}
            paths:
                - ~/.stack
                - .stack-work

  build-15.13:
    docker:
    - image: circleci/rust:1.36-stretch
    steps:
    - checkout
    - restore_cache:
        keys:
            - stack-cache-v2-ghc-15.13-{{ arch }}-{{ .Branch }}
            - stack-cache-v2-ghc-15.13-{{ arch }}-master
    - run: .circleci/install-stack.sh
    - run: stack test --no-terminal --resolver=lts-15.13
    - save_cache:
            key: stack-cache-v2-ghc-15.13-{{ arch }}-{{ .Branch }}-{{ epoch }}
            paths:
                - ~/.stack
                - .stack-work

  build-ghc-8.10:
    docker:
    - image: circleci/rust:1.36-stretch
    steps:
    - checkout
    - restore_cache:
        keys:
            - stack-cache-v2-ghc-8.10-{{ arch }}-{{ .Branch }}
            - stack-cache-v2-ghc-8.10-{{ arch }}-master
    - run: .circleci/install-stack.sh
    - run: stack test --no-terminal --resolver=lts-18.5
    - save_cache:
            key: stack-cache-v2-ghc-8.10-{{ arch }}-{{ .Branch }}-{{ epoch }}
            paths:
                - ~/.stack
                - .stack-work

    build-ghc-9.0:
    docker:
    - image: circleci/rust:1.36-stretch
    steps:
    - checkout
    - restore_cache:
        keys:
            - stack-cache-v2-ghc-9.0-{{ arch }}-{{ .Branch }}
            - stack-cache-v2-ghc-9.0-{{ arch }}-master
    - run: .circleci/install-stack.sh
    - run: stack test --no-terminal --resolver=ghc-9.0.1
    - save_cache:
            key: stack-cache-v2-ghc-9.0-{{ arch }}-{{ .Branch }}-{{ epoch }}
            paths:
                - ~/.stack
                - .stack-work

  build-success:
    docker:
    - image: circleci/rust:1.36-stretch
    steps:
    - run: echo "Success!"

workflows:
  version: 2
  build-and-test:
      jobs:
        - build-12.8
        - build-13.23
        - build-15.13
        - build-ghc-8.10
        - build-success:
            requires:
            - build-12.8
            - build-13.23
            - build-15.13
            - build-ghc-8.10
